.noteBlock {
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 10px;
    
    width: 220px;
    padding: 12px;
    border-radius: 0px;    
    display: inline-block;

    -webkit-box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.6);
}
.noteBlock:hover {
    box-shadow: 4px 4px 4px #666;
    cursor: pointer;
}

.noteBlock > .title {
    color: #4078c0;
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

.noteBlock > .content {
    font-size: 12px;
}