.linkModificationForm{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    display: inline-block;
    box-shadow: 3px 2px 3px #ccc;
}

.linkModificationForm label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.linkModificationForm label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.linkModificationForm span.required{
    color:red;
}
.linkModificationForm .tel-number-field{
    width: 40px;
    text-align: center;
}
.linkModificationForm input.input-field{
    width: 48%;
    
}

.linkModificationForm input.input-field, 
.linkModificationForm .tel-number-field, 
.linkModificationForm .textarea-field, 
 .linkModificationForm .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.linkModificationForm .input-field:focus, 
.linkModificationForm .tel-number-field:focus, 
.linkModificationForm .textarea-field:focus,  
.linkModificationForm .select-field:focus{
    border: 1px solid #0C0;
}
.linkModificationForm .textarea-field{
    height:100px;
    width: 55%;
}
.linkModificationForm input[type=submit],
.linkModificationForm input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.linkModificationForm input[type=submit]:hover,
.linkModificationForm input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}