.form-group.former {
  border: 2px solid #f9f9f9;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  box-shadow: 3px 2px 3px #c4c2cc;
}

.form-group.former::before {
  content: "Add Node Form";
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group.former input {
  display: block;
  margin: 10px;
}

.form-group.former button:hover {
  border: 1px solid #294099;
  cursor: pointer;
}